<html>
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
  <div>
    <button id="btn1">Show A vs B</button>
    <button id="btn2">Show D vs B</button>
    <button id="btn3">Show E vs B</button>
  </div>
  <div>
    <svg id="viz1"></svg>
    <svg id="viz2"></svg>
  </div>
    
</body>
<script type="text/javascript" src="/static/js/index.js"></script>
</html>